
<%= form_with url: book_book_comments_path(book), model:[book, book_comment], data: {remote: true} do |f| %>
	<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
	<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>

<% if book.user == current_user %>
	<td><%= link_to "Edit",edit_book_path(book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
	<td><%= link_to "Destroy",book_path(book), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
<% end %>